<main class="main">
  <div class="flex flex-col h-screen">
  <div class="flex flex-row justify-start p-4">
    <a class="bg-transparent text-gray-800 rounded-md border border-gray-500 pr-4 pl-3 py-2 flex flex-row items-center focus:outline-2 focus:outline-fuchsia-600" href="/">
      <lucide-icon [img]="ArrowLeftIcon" class="w-4 h-4 mr-2" />
      Back to Home
    </a>
  </div>
  <div class="flex flex-col items-center justify-center h-full pb-16">
    <h1 class="text-4xl font-bold mb-4">Basic Math Game</h1>
    <hr class="min-w-80 border-gray-400 mb-4" aria-hidden="true" />
    <p class="text-gray-800 text-lg pb-4">Score: {{ scoreVal }} | Streak: {{ streakVal }}</p>
    <hr class="min-w-80 border-gray-400 mb-4" aria-hidden="true" />
    <audio src="/sounds/correctsound.wav" id="correctAudio" aria-hidden="true" preload="auto"></audio>
    <audio src="/sounds/incorrectsound.wav" id="incorrectAudio" aria-hidden="true" preload="auto"></audio>

      <div class="flex flex-row items-center gap-4">
        @if (isOnResult) {
          @if (answer?.isCorrect) {
            <p class="text-3xl" id="result" aria-live="assertive">Correct!</p>
          } @else {
            <p class="text-3xl" id="result" aria-live="assertive">The correct answer is {{ answer?.answer }}</p>
          }
        } @else {
          <p class="text-3xl" id="question">{{ question.num1 }} {{ question.operatorName }} {{ question.num2 }} = </p>
          <input
              type="number"
              id="answer"
              autocomplete="off"
              class="border border-slate-300 rounded-md py-2 px-3 shadow-sm focus:border-pink-600 focus:outline-none focus:ring-fuchsia-600 focus:ring-1"
              placeholder="Enter your answer"
              (keydown.enter)="nextQuestion()"
          />
      }
      </div>
    <div class="flex flex-row items-center gap-4 mt-4">
      <button class="bg-gradient-to-br
            from-purple-600
            to-pink-500
            hover:from-purple-600
            hover:to-pink-600
            text-white
            px-4
            py-2
            rounded-md
            transition-colors
            duration-200
            text-center"
        (click)="nextQuestion()"
        aria-live="assertive"
        >
        @if (isOnResult) {
          {{ answer?.isCorrect ? 'Correct! Select for next question.' : 'Incorrect! Select for next question.' }}
        } @else {
          Check Answer
        }
      </button>
    </div>
  </div>
</div>
</main>
