<main class="main">
  <div class="flex flex-col items-center justify-center h-screen" role="main">
    <h1 class="text-4xl font-bold mb-4">Braille Game</h1>
    <hr class="min-w-80 border-gray-400 mb-4" aria-hidden="true" />
    <div class="min-w-80 flex flex-col gap-4">
      <a href="/basic-math"
         class="bg-gradient-to-br
                from-purple-600
                to-pink-500
                hover:from-purple-600
                hover:to-pink-600
                text-white
                px-4
                py-2
                rounded-md
                transition-colors
                duration-200
                text-center">
        Basic Math Game
      </a>
      <a href="/"
         class="bg-gradient-to-br
                from-purple-600
                to-pink-500
                hover:from-purple-600
                hover:to-pink-600
                text-white
                px-4
                py-2
                rounded-md
                transition-colors
                duration-200
                text-center
                disabled">
        Coming Soon
      </a>
    </div>
  </div>
</main>
